.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  100%{
    transform: translate(0px, 350%) rotate(45deg);
  }
}

@keyframes middle {
  100%{
    opacity: 0;
  }
}

@keyframes bottom {
  100%{
    transform: translate(0px, -325%) rotate(-45deg);
  }
}
